// Fontes
$fontPrincipal: 'Roboto', sans-serif;
$base-font-size: 1rem; 
$tablet-font-size: .875rem; 
$mobile-font-size: .75rem;

// Esquema de cores
$corDeFundo: #f5f6fa;
$corDoFundoHeader: #182C61;
$corPrincipal: #44bd32;
$corSecundaria: #4cd137;


// Brackpoints
$mobile: 767px;
$tablet: 1023px;